# Python
*.pyc
*.pyo
__pycache__/
*.log
*.sqlite3

# Entornos virtuales
venv/
.env
*.env

# Configuración de bases de datos
database.db
*.sqlite
*.pgdata

# Configuración de IDEs y editores
.vscode/
.idea/
*.iml

# Caché y dependencias
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
node_modules/