/* src/styles/global.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f8ff; /* Un fondo azul claro suave */
  }
  
  .container {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; /* Transición suave para el efecto hover */
  }
  
  .container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Efecto hover */
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container form input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease; /* Transición suave para el foco */
  }
  
  .container form input:focus {
    border-color: #007bff; /* Color del borde al enfocar */
    outline: none;
  }
  
  .container form button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
  }
  
  .container form button:hover {
    background-color: #0056b3;
  }
  .error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }